*{
  margin: 0;
  padding: 0;
  font-family: 'Fuzzy Bubbles', cursive;
  }


.main{
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  place-items: center;
}

.form{
  width: 400px;
}
